/**
 * UNIFI Website
 * Adam Shannon
 */

body {
  background-color: #FFF;
  background-size: auto;
  color: #000;
}

a {
  color: #28B;
}

div#wrapper {
  display: block;
  width: 100%;
}

  header h1 {
    font-family: "Trebuchet MS", Trebuchet, Verdana, sans-serif;
    font-size: 2em;
  }

    header h1 a {
      text-decoration: none;
    }

div#content {
  /* */
}

  /* Blog posts */
  section.blog-post {
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 0px 2px 5px;
  }

    section.blog-post:nth-child(even) {
      background-color: #CCC;
    }

    section.blog-post:nth-child(odd) {
      background-color: #FFF;
    }

    section.blog-post h2 {
      color: #28B;
      font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    }

    section.blog-post span.blog-post-author {
    }

      section.blog-post span.blog-post-author a {
        margin-right: 5px;
      }

    section.blog-post p {
      margin-bottom: 0px;
    }

    section.blog-post span.blog-post-comments a {
      /* */
    }

  /* Comments */
  section.comment:nth-child(even) {
    background-color: #CCC;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }
    section.comment span.right {
      float: right;
    }
    section.comment span.author {
      font-family: Helvetica;
    }
      section.comment p.comment_content pre {
        word-wrap: normal;
      }

  /* Footer */
  footer {
    border-top: 1px solid #000;
    font-size: 1.25em;
    padding-top: 2px;
  }

