
	<div id="wrapper">
		<?php echo ADMIN_DASHBORD_TITLE; ?><br />
		
		<ul id="lsit">
			<label for="list"><?php echo ADMIN_DASHBORD_LIST_NAME; ?></label>
			<li><a href="index.php?page=post"><?php echo ADMIN_DASHBORD_POST_BLOG; ?></a></li>
			<li>[x] <a href="index.php?page=list_members"><?php echo ADMIN_DASHBORD_LIST_MEMBERS; ?></a></li>
			<li>[x]<?php echo ADMIN_DASHBORD_EDIT_MEMBER; ?></li>
			<li><a href="index.php?page=search_users"><?php echo ADMIN_DASHBORD_SEARCH_USERS; ?></a></li>
			<li><a href="index.php?page=create_event"><?php echo ADMIN_DASHBORD_CREATE_EVENT; ?></a></li>
			<li><a href="index.php?page=list_events"><?php echo ADMIN_DASHBORD_LIST_EVENTS; ?></a></li>
			<li><?php echo ADMIN_DASHBORD_EDIT_EVENT; ?></li>
			<li><?php echo ADMIN_DASHBORD_EDIT_EVENT_ATTENDANCE; ?></li>
		</ul>
	</div>
	
