
	<div id="wrapper">
		<?php echo ADMIN_DASHBORD_TITLE; ?><br />
		
		<ul id="lsit">
			<label for="list"><?php echo ADMIN_DASHBORD_LIST_NAME; ?></label>
			
			<li><a href="index.php?page=create_user"><?php echo ADMIN_DASHBORD_CREATE_USER; ?></a></li>
			<li><a href="index.php?page=delete_user"><?php echo ADMIN_DASHBORD_DELETE_USER; ?></a></li>
			
			<li><a href="index.php?page=post"><?php echo ADMIN_DASHBORD_POST_BLOG; ?></a></li>
			<li><a href="index.php?page=list_blog_posts"><?php echo ADMIN_DASHBORD_LIST_BLOG_POSTS; ?></a></li>
				<label><?php echo ADMIN_DASHBORD_LIST_BLOG_POSTS_DESC; ?></label>
			<li><?php echo ADMIN_DASHBORD_EDIT_BLOG_POST; ?></li>
				<label><?php echo ADMIN_DASHBORD_EDIT_BLOG_POST_DESC; ?></label>
			
			<li><a href="index.php?page=list_members"><?php echo ADMIN_DASHBORD_LIST_MEMBERS; ?></a></li>
			<li><?php echo ADMIN_DASHBORD_EDIT_MEMBER; ?></li>
				<label><?php echo ADMIN_DASHBORD_EDIT_MEMBER_DESC; ?></label>
			
			<li><a href="index.php?page=search_users"><?php echo ADMIN_DASHBORD_SEARCH_USERS; ?></a></li>
			
			<li><a href="index.php?page=create_event"><?php echo ADMIN_DASHBORD_CREATE_EVENT; ?></a></li>
			<li><a href="index.php?page=list_events"><?php echo ADMIN_DASHBORD_LIST_EVENTS; ?></a></li>
			<li><?php echo ADMIN_DASHBORD_EDIT_EVENT; ?></li>
				<label><?php echo ADMIN_DASHBORD_EDIT_EVENT_DESC; ?></label>
			<li><?php echo ADMIN_DASHBORD_EDIT_EVENT_ATTENDANCE; ?></li>
				<label><?php echo ADMIN_DASHBORD_EDIT_EVENT_ATTENDANCE_DESC; ?></label>
				
			<li><a href="index.php?page=list_custom_pages"><?php echo ADMIN_DASHBORD_LIST_CUSTOM_PAGES; ?></a></li>
				<label><?php echo ADMIN_DASHBORD_EDIT_CUSTOM_PAGES; ?></li>
				
			<br /><br />
			-------------------------------------------------------------------	
			<li><a href="index.php?page=edit_member_rights"><?php echo ADMIN_DASHBORD_EDIT_MEMBER_RIGHTS; ?></a></li>
			<li><a href="index.php?page=backup_db"><?php echo ADMIN_DASHBORD_BACKUP_DB; ?></a></li>
			<li><a href="index.php?page=log"><?php echo ADMIN_DASHBORD_CENTRAL_LOG; ?></a></li>
			<li><a href="index.php?page=mail_users"><?php echo ADMIN_DASHBORD_MAIL_USERS; ?></a></li>
		</ul>
	</div>
	
