
	<div id="wrapper">
		
		<h3><?php echo ADMIN_DASHBOR_EDIT_MEMBER_PERMISSIONS_GET_USER; ?></h3>
		
		<form action="index.php" method="GET">
			<input type="hidden" name="page" value="edit_member_rights" />
			
			<label>
				<?php echo ADMIN_DASHBOR_EDIT_MEMBER_PERMISSIONS_GET_USER_FORM; ?> 
				<input type="text" name="user" />
			</label>
			
			[<small>Must be user id</small>]
			
			<br />
			
			<input type="submit" value="<?php echo ADMIN_DASHBOR_EDIT_MEMBER_PERMISSIONS_GET_USER_SUBMIT; ?>" />
		</form>
		
	</div>
	
