
	<div id="wrapper">
		<?php echo EDIT_BLOG_POST_HEADER; ?>
		
		<div style="float: right; width: 40%;">
			<ul style="list-style-type: none; margin: 2px;">
				<?php
					$checked = '';
					foreach ($tags as $tag) {
						foreach ($selected as $item) {
							if ($item['tag_id'] == $tag['id']) {
								$checked = ' checked';
								break;
							} else {
								$checked = '';
							}
						}
						echo "<li><label><input type='checkbox' class='tags' name='{$tag['id']}' {$checked} />{$tag['tag']}</label></li>";
					}
				?>
			</ul>
			<button onclick="addTags();" style="margin-left: 10%;"><?php echo PAGE_POST_TO_BLOG_ADD_TAGS; ?></button>
			<script>
			function addTags() {
				var elms = document.getElementsByClassName('tags');
				var xhr = new XMLHttpRequest();
				for (var i = 0; i < elms.length; i++) {
					if (elms[i].checked) {
						//console.log(window.location.origin + window.location.pathname + '?addBlogTag=' + elms[i].name);
						var url = window.location.origin + window.location.pathname + '?addBlogTag=' + elms[i].name + '&blog_post=';
							url += "<?php echo $data['id']; ?>";
						console.log(url);
						xhr.open('GET', url, false);
						xhr.send(null);
						console.log(xhr.responseText);
					}
				}
			}
			</script>
		</div>
		
		<form action="index.php" method="POST" id="edit_blog_post_form">
			<input type="hidden" name="edit_blog_post" value="yes" />
			<input type="hidden" name="blog_id" value="<?php echo $data['id']; ?>" />
			
			<label>
				<?php echo EDIT_BLOG_POST_TITLE; ?>: 
				<input type="text" name="title" value="<?php echo $data['title']; ?>" />
			</label>
			
			<br />
			
			<textarea name="content"  cols="70" rows="15"><?php echo $data['content']; ?></textarea>
			
			<br />
			
			<input type="submit" value="<?php echo EDIT_BLOG_POST_SUBMIT; ?>" />
		</form>
	</div>

