
	<div id="wrapper">
		Edit User
		
		<!-- <br /><br /> <pre><?php //print_r($user_info); ?></pre> -->
		
		<!--
		<?php
			/*
			echo $user_info['year'] . ':: ' . User_Encode::encode_year($user_info['year']) . "\n";
			echo $user_info['major'] . ':: ' . User_Encode::encode_major($user_info['major']) . "\n";
			echo $user_info['dorm'] . ':: ' . User_Encode::encode_dorm($user_info['dorm']) . "\n";
			echo $user_info['recruit_place'] . ':: ' . User_Encode::encode_recruit_place($user_info['recruit_place']) . "\n";
			echo $user_info['texting'] . ':: ' . User_Encode::encode_texting($user_info['texting']) . "\n";
			echo $user_info['position'] . ':: ' . User_Encode::encode_positions($user_info['position']) . "\n";
			echo $user_info['tags'] . ':: ' . User_Encode::encode_tags($user_info['tags']) . "\n";
			*/
		?>
		-->
		
		<?php
			/*
			print_r($years);
			print_r($majors);
			print_r($dorms);
			print_r($recruit_places);
			print_r($texting);
			print_r($positions);
			print_r($tags);
			*/
		?>
	</div>
