
	<div id="wrapper">
		
		<?php echo ADMIN_DASHBOARD_LIST_CUSTOM_PAGES; ?>
		
		<table id="list-custom-pages" style="text-align:center;">
			<thead>
				<tr>
					<td><?php echo ADMIN_DASHBOARD_LIST_CUSTOM_PAGES_ID; ?></td>
					<td><?php echo ADMIN_DASHBOARD_LIST_CUSTOM_PAGES_URL_STUB; ?></td>
					<td><?php echo ADMIN_DASHBOARD_LIST_CUSTOM_PAGES_PAGE_TITLE; ?></td>
					<td><?php echo ADMIN_DASHBOARD_LIST_CUSTOM_PAGES_CONTENT; ?></td>
				</tr>
			</thead>
			
			<?php
				foreach ($pages as $page) {
					echo '<tr onclick="window.location=\'index.php?page=edit_custom_page&url_stub=' . $page['url_stub'] . '\';">';
						echo '<td>' . $page['id'] . '</td>';
						echo '<td>' . $page['url_stub'] . '</td>';
						echo '<td>' . $page['page_title'] . '</td>';
						echo '<td>' . htmlentities(substr($page['content'], 0, 200)) . '...</td>';
					echo '</tr>';
				}
			?>
		</table>
		
	</div>
	
