
	<div id="wrapper">
		<?php echo PAGE_POST_TO_BLOG; ?>
		
		<div style="float: right; width: 40%;">
			<ul style="list-style-type: none; margin: 2px;">
				<?php 
					foreach ($tags as $tag) {
						echo "<li><label><input type='checkbox' class='tags' name='{$tag['id']}' />{$tag['tag']}</label></li>";
					}
				?>
			</ul>
			<button onclick="addTags();" style="margin-left: 10%;"><?php echo PAGE_POST_TO_BLOG_ADD_TAGS; ?></button>
			<script>
			function addTags() {
				var elms = document.getElementsByClassName('tags');
				var xhr = new XMLHttpRequest();
				for (var i = 0; i < elms.length; i++) {
					if (elms[i].checked) {
						//console.log(window.location.origin + window.location.pathname + '?addBlogTag=' + elms[i].name);
						xhr.open('GET', window.location.origin + window.location.pathname + '?addBlogTag=' + elms[i].name, false);
						xhr.send(null);
					}
				}
			}
			</script>
		</div>
		
		<form action="index.php" method="POST">
		
			<input type="hidden" name="admin_post_to_blog" value="post-new" />
			
			<?php echo PAGE_POST_TO_BLOG_ALLOWED_TAGS . htmlentities($config['allowable_blog_tags']); ?><br /><br />		
					
			<?php echo PAGE_POST_TO_BLOG_TITLE_FIELD; ?> <input type="text" name="title" /><br />
			<textarea name="text" rows="15" cols="70" autofocus></textarea><br />
			
			<input type="submit" value="Submit" />
		</form>
	</div>

