
	<div id="wrapper">
		
		<?php echo ADMIN_DASHBORD_VIEW_LOG_TITLE; ?>
		
		<table style="width:100%;">
			<thead style="text-align:center;">
				<tr>
					<td><?php echo ADMIN_DASHBORD_VIEW_LOG_ID; ?></td>
					<td><?php echo ADMIN_DASHBORD_VIEW_LOG_USER; ?></td>
					<td><?php echo ADMIN_DASHBORD_VIEW_LOG_TIME; ?></td>
					<td><?php echo ADMIN_DASHBORD_VIEW_LOG_MESSAGE; ?></td>
					<td><?php echo ADMIN_DASHBORD_VIEW_LOG_UNIQUE; ?></td>
				</tr>
			</thead>
			
			<?php
				foreach ($results as $row) {
					echo '<tr>';
						echo "<td>{$row['id']}</td>";
						echo "<td>{$row['user']}</td>";
						echo "<td>{$row['time']}</td>";
						echo "<td>{$row['message']}</td>";
						echo "<td>{$row['unique']}</td>";
					echo '</tr>';
				}
			?>
		</table>
		
	</div>
	
