/**
 * UNIFI Website
 * Adam Shannon
 * 2010-11-21
 */
 
body {
	background-color: #CCCCCC;
}

div#container {
	border: 1px solid #000000;
	display: block;
	height: 99%;
	margin-left: 5%;
	width: 90%;
}

	div#header {
		border: 5px solid #FFFFFF;
		background-color: #AA00AA;
	}
	
		div#header h2 {
			font-family: Sans-Serif;
			font-size: 2em;
			text-align: center;
		}
	
	div#nav {
		border-bottom: 1px solid #000000;
		height: auto;
	}
	
		div#nav div.right {
			float: right;
			margin-right: 20px;
		}
		
		div#nav ul {
			list-style-type: none;
		}
		
			div#nav ul li.nav_item {
				background-color: #000000;
				display: inline;
				margin-right: 10px;
				padding: 10px;
			}
			
				div#nav ul li.nav_item a, div#nav ul li.nav_item a:visited {
					color: #FFFFFF;
				}
				
	div#register {
		margin-left: 30px;
	}
	
		div#register h3 {
			margin-bottom: -10px;
			padding-bottom: 0px;
		}
		
		div#register p {
			margin-left: 15px;
		}
		
		div#register hr {
			width: 90%;
		}
		
		div#register form {
			margin-left: 15px;
		}
		
			div#register form input {
				margin-bottom: 5px;
			}
			
				div#register form input[type=submit] {
					/* margin-left: 15%; */
					width: 70px;
				}
		
			div#register form fieldset {
				border: 0px solid #000000;
				width: 45%;
			}
		
				div#register form fieldset.right {
					float: right;
					margin-right: 50px;
				}
			
				div#register form fieldset.left {
					margin-left: 100px;
				}
	
	div#main {
		margin-left: 30px;
		padding-bottom: 20px;
	}
	
		h6 {
			font-family: Sans-Serif;
			font-size: 1.5em;
			margin: 20px 0px 0px 0px;
		}
	
		div#main p.post {
			margin-left: 10px;
			width: 90%;
		}
		
			div#main p.comment span.right, div#main p.post span.right {
				float: right;
			}
			
			h5.blog_title {
				font-size: 1.3em;
				font-family: "Courier New";
				margin: 0px 0px 0px 0px;
			}
				
				h5.blog_title a {
					color: #000000;
				}
			
			span.author {
				font-size: 0.75em;
				margin-left: 15px;
			}
			
			p.blog_content pre {
				margin-left: 15%;
			}
			
		div#main p.comment {
			margin-left: 10px;
			width: 90%;
		}
			
		div#main div#comment_reply {
			margin-left: 0px;
			width: 90%;
		}
		
			div#main div#comment_reply form textarea {
				height: 200px;
				width: 550px;
			}
