/**
 * UNIFI Website
 * Adam Shannon
 * 2010-11-21
 */
 
body {
	background-color: #EEEEEE;
}

header h3 {
	cursor: pointer;
	font-size: 1.2em;
}

div#wrapper {
	border: 1px solid #000000;
	margin-left: 5%;
	margin-top: 25px;
	padding: 5px;
	width: 90%;
}
