  <!--
    The footer which contains the legal documentation, copyright, and other
    things as needed.
  -->
  <hr class="no-hr" />
  <footer>
    <div id="copyright" class="right">
      Copyright &copy; 2011 University of Northern Iowa Freethinkers and Inquirers
    </div>

    <div id="footer-links">
      <ul>
        <li><a href="index.php?page=legal"><?php echo FOOTER_LEGAL; ?></a></li>
        <li><a href="index.php?page=contact"><?php echo FOOTER_CONTACT; ?></a></li>
        <li><a href="#top"><?php echo FOOTER_TOP; ?></a></li>
        <li><a href="index.php?page=feedback"><?php echo FOOTER_FEEDBACK; ?></a></li>
      </ul>
    </div>
  </footer>

</section> <!-- #wrapper -->

<script>
/**
 * Set up a script to rotate quotes.
 */
function bind_quote_rotate() {
  var quotes = Array(5);
    quotes[0] = "\"We are star stuff\"<br \/\>-- Carl Sagan";
    quotes[1] = "\"The secrets of evolution are time and death.\"<br \/\>-- Carl Sagan";
    quotes[2] = "\"Scientists love mysteries, they love not knowing.\"<br \/\>-- Lawrence Krauss";
    quotes[3] = "\"Don't panic.\"<br \/\>-- Douglas Adams";
    quotes[4] = "\"I can\'t believe the special stories about our relationship to the universe at large.\"<br \/\>-- Richard Feynman";

  var elm = document.querySelector("#quote");
    elm.onclick = function (e) {
      var pick = Math.floor(Math.random() * quotes.length);
      this.innerHTML = quotes[pick];
    };
}

/**
 * Set up the nav elements to go to their child a's link.
 */
function bind_nav_links() {
  window.nav_elms = document.querySelectorAll('.nav-item');
  var i = 0, len = window.nav_elms.length;
  for (i; i < len; i++) {
    window.nav_elms[i].onclick = function () { window.location = this.childNodes[0].href; };
  }
}


/**
 * Fix the content wrapper's height.
 */
function fix_content_wrapper_height() {
  var elm = document.querySelector("#blog-wrapper");
    try {
      elm.style.height = document.height + 'px';
    } catch (e) {
      console.log(e);
    }
}

window.onload = function () {
  bind_quote_rotate();
  bind_nav_links();
  fix_content_wrapper_height();
};
</script>
<?php print_fb_script(); ?>
<script src="https://apis.google.com/js/plusone.js"></script>
<script src="templates/<?php echo $config['template']; ?>/js/reddit.js"></script>
</body>
</html>
