<!doctype html>
<html>
<head>
	<title>UNIFI Website Template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="templates/<?php echo $config['template']; ?>/css/style.css" />
	
	<script>
	(function () {
		var elms = ['section', 'aside', 'nav', 'article'];
		var i = 0, len = elms.length;
		for (i; i < len; i++ ) {
			document.createElement(elms[i]);
		}
	})();
	</script>
	
	<style>
	header nav ul li {
		background: #000000 url('templates/<?php echo $config['template']; ?>/images/nav-bg.png') repeat-x;
	}
	
		header nav ul li:hover {
			background: #000000 url('templates/<?php echo $config['template']; ?>/images/nav-bg-hover.png') repeat-x;
		}
	</style>
</head>
<body>
<a name="top"></a>
