<div id="wrapper">
	<!-- 
		Create the header secion, this will be the main image, navigation elements,
		rotating quote, and search button.
	-->
	<header>
		<?php include 'templates/epoch/html/show_nav.html'; ?>
	</header>
	
	<hr />
	
	<!--
		The "right side" of the page which contains: "You" box, [Admin Dashboard], 
		social media icons, labels/authors, and the blogroll.
	-->
	<aside>
		<?php include 'templates/epoch/html/show_sidebar.html'; ?>
	</aside>
	
	<!--
		The main section of the page, which has the blog posts (for the home page),
		and the main content for other pages.
		
		P.S. Where needed content should be separated by the <section> element.
	-->
	<article>
		
		<h3><?php echo LEGAL_HEADER; ?></h3>
		
		<p>The term "website" shall be defined as being, "the markup, digital content, creation, and/or construction which is accessed commonly via the Internet and was build with various components such as: database(s), application frameworks, images, and, but not limited to, text".</p>

		<p>This website is created by and for the University of Northern Iowa Freethinkers and Inquirers ("UNIFI"). All applicable rights, as listed below, are retained in full possibility and by proper extension by UNIFI.</p>

		<p>As a website like this has a main goal to encourage peaceful and intelligent communication, discussion, and debate across many peoples, UNIFI reserves the right to remove any post or content from this website, database(s), log(s), and/or any other medium(s) of storage and/or transmission of this website at the discretion of UNIFI leadership.</p>

		<p>Furthermore, UNIFI reserves the right to block or restrict access to part(s) or the entire website based on any violation that is listed in this policy. This may include, but is not limited to: unauthorized access attempts, non-verbal and/or verbal assaults and/or attacks, physical violence and/or harassment, and any other action between peoples that is deemed sufficient, in respect to causing either physical or digital damage, enough to restrict such access or authorization to the website, as determined by the UNIFI leadership.</p>

		<p>Such usage that is deemed suited, applicable, and within every users rights of this website, and all applicable components, is defined as "normal use". Normal Use would include, and abide by the same general principles as do: supportive and/or informative, insightful and/or community building, and/or spirited and/or empirical claims. If the material and/or action(s) is deemed to support this website and thus one of UNIFI's goals of furthering intellectual development and/or building a better community then it shall be labeled under "normal use" and protected from removal or censorship due to natural causes.</p>

		<p>UNIFI and all applicable partners and fellow authors of components within the site's workings and content on the website maintain their own associated copyrights and/or trademarks for their own original content. UNIFI makes no claims in respect to the ownership of content that UNIFI does not create. Also, UNIFI takes no responsibilities for content that it does not own, nor claim,  which is on the website or associated components of the website. The original author(s) of the content, either created on this website or else where, own any and all applicable rights to the content, including it's existence on this website and all associated components.</p>

		<p>People often submit information to this website. That data is collected, sorted, processed, organized, and, among other things, analyzed. Whenever possible, the data is anonymized to prevent intrusions of privacy. However, it may be not be possible to anonymize data based on the requirement of information. (For  example, to send an e-mail out to members) UNIFI will provide adequate provisions to allow each member to protect their submitted information in respect to other members clearance. (Further requests for privatization of data stored on or within this website or associated components can be sent to: legal@unifreethought.com)</p>

		<p>This policy is only binding when and with a) the creation of an account on this website, and then a bond between this policy, the associated Facebook(c) account, and the physical person who authorizes the Facebook(c) account between this website and Facebook(c) b) any person who adds and/or creates and/or edits content which is done either on or to this website and/or any components owned by UNIFI. Any other legal bonds are created and respected within their own licensing agreements.</p>

		<p>This policy is subject to change, at any time and without notice, but only under the authorization of UNIFI leadership and/or UNIFI Faculty Advisors. (“Faculty Advisors” are defined by the University of Northern Iowa's student organization policy and such the term, and usage, is accepted in full by UNIFI.)</p>

<pre>Any questions or comments can be directed towards:
  legal@unifreethought.com
  BRC Office
</pre>
	</article>
</div>
