
<div id="wrapper">  
  <!-- 
    Create the header secion, this will be the main image, navigation elements,
    rotating quote, and search button.
  -->
  <header>
    <?php include 'templates/epoch/html/show_nav.html'; ?>
  </header>
  
  <hr />
  
  <!--
    The "right side" of the page which contains: "You" box, [Admin Dashboard], 
    social media icons, labels/authors, and the blogroll.
  -->
  <aside>
    <?php include 'templates/epoch/html/show_sidebar.html'; ?>
  </aside>
  
  <!--
    The main section of the page, which has the blog posts (for the home page),
    and the main content for other pages.
    
    P.S. Where needed content should be separated by the <section> element.
  -->
  <article>
  <div id="blog-wrapper" class="border-right">
    <?php
      echo "<section class='blog-post'>";
        echo "<h2><a href='index.php?page=post&id=" . $post['id'] . "'>" . Clean::output($post['title']) . "</a></h2>";
        echo "<span class='blog-post-author'>" . BLOG_AUTHOR_PREFIX . "<a href='index.php?page=profile&profile={$post['author']}'>";
          echo Clean::output($authors[$post['author']]) . '</a>' . Date::parse($post['timestamp']) . '</span>';
        // Social media buttons!
        echo '<p>';
          echo "<div style='float:right;'>";
            SocialMedia::redditPost($post['id']);
            SocialMedia::googlePlus($post['id']);
          echo "</div>";
          echo "<div>";
            SocialMedia::facebookLike($post['id'], true);
            SocialMedia::twitterButton($post['id']);
          echo "</div>";
        echo '</p>';
        echo '<p>' . wordwrap(Clean::output($post['content']), 70) . '</p>';
        echo "<a name='comments'></a>";
        echo "<span class='blog-post-comments'><a href='?page=post&id=" . $post['id'] . "#comments'>" . BLOG_POST_COMMENTS . "</a></span>";
      echo "</section>";
    ?>
      
      <!-- Comments -->
      <?php
        foreach ($comments as $comment) {
          echo "<section class='comment'>";
            echo "<span class='right'>" . Date::parse($comment['timestamp']) . "</span>";
            echo "<span class='author'>" . $authors[$comment['author']] . '</span>';
            echo "<p class='comment_content'><pre>" . wordwrap(Clean::output($comment['content']), 50) . "</pre></p>";
          echo "</section>";
        }
      ?>
      
      <!-- Leave a comment -->
      <section id="comment_reply">
        <h4><?php echo BLOG_COMMENT_REPLY; ?></h4>
        <form action="index.php" method="POST">
          <input type="hidden" name="page" value="comment-reply" />
          <input type="hidden" name="post_id" value="<?php echo $post['id']; ?>" />
          <textarea name="content"></textarea>
          <br /><br />
          <input type="submit" value="<?php echo BLOG_COMMENT_SUBMIT; ?>" />
        </form>
      </section>
  </div>
  </article>

