<!-- Header Image -->
    <img src="templates/<?php echo $config['template']; ?>/images/final-header.png" height="200px" alt="Header Image" />
    
    <!-- Nav Items -->
    <nav>
      <ul>
        <li class="nav-item"><a href="?">Home</a></li>
        <li class="nav-item"><a href="?page=about">About</a></li>
        <li class="nav-item"><a href="?page=contact">Contact</a></li>
        <li class="nav-item"><a href="?page=brunch">Brunch</a></li>
        <li class="nav-item"><a href="?page=store">Store</a></li>
        <li class="nav-item"><a href="?page=calendar">Calendar</a></li>
        <li class="nav-item"><a href="?page=darwinweek">Darwin&nbsp;Week</a></li>
        <li class="nav-item"><a href="?page=service">Service</a></li>
      </ul>
    </nav>
