
      <footer>
        <div>
          <a href="?page=about">About</a> | 
          <a href="?page=contact">Contact</a> | 
          <a href="?page=brunch">Brunch</a> | 
          <a href="?page=calendar">Calendar</a> | 
          <a href="?page=darwinweek">Darwin&nbsp;Week</a> | 
          <a href="?page=events">Events</a> 
        </div>
        <br />
        <div style="text-align:center;">
          <a href="/index.php?fullsite">Full Site</a>
        </div>
      </footer>
    </div>
  </body>
</html>
