
<div id="content">
  <?php
      echo "<section class='blog-post'>";
      echo "<h2><a href='index.php?page=post&id=" . $post['id'] . "'>" . Clean::output($post['title']) . "</a></h2>";
      echo "<span class='blog-post-author'>" . BLOG_AUTHOR_PREFIX . 
        "<a href='index.php?page=profile&profile={$post['author']}'>";
        echo Clean::output($authors[$post['author']]) . '</a>' . Date::parse($post['timestamp']) . '</span>';
      echo '<p>' . Clean::output(substr(strip_tags($post['content'], $config['allowable_mobile_tags']), 0, 400)) . '...</p><br />';
      echo "</section>";
      
    foreach ($comments as $comment) {
      echo "<section class='comment'>";
        echo "<span class='right'>" . Date::parse($comment['timestamp']) . "</span>";
        echo "<span class='author'>" . $authors[$comment['author']] . '</span>';
        echo "<p class='comment_content'><pre>" . wordwrap(Clean::output($comment['content']), 35) . "</pre></p>";
      echo "</section>";
    }
  ?>

</div>

