
  <div id="wrapper">

    <h2>Apply Groups</h2>

    <form action="index.php" method="post">
        <input type="hidden" name="form_apply_group" value="yes" />

      User Id:
        <input type="text" name="user_id" />
      <br />

      <select name="group_desc">
        <option value="president">President</option>
        <option value="officer">Officer</option>
        <option value="member">Member</option>
      </select>

      <br />
      <input type="submit" />
    </form>

  </div>

