
	<section id="cotainer">
		<section class="row">
	
			<div class="box-of-three">
		
				<!-- Box of two -->
				<div class="box-of-two">
			
					<!-- Box of one -->
					<div class="box-of-one">

					<div class="box">
						<span class="box-title">
							<a href="#">Events</a>
						</span>
				
						<ul class="box-links">
							<li><a href="#">List</a></li>
							<li><a href="#">Create</a></li>
							<li><a href="#">Manage Volunteers</a></li>
						</ul>
					</div>

					</div>
					<!-- /Box of one -->
				
					<div class="box">
						<span class="box-title">
							<a href="#">Blog</a>
						</span>
					
						<ul class="box-links">
							<li><a href="index.php?page=list_blog_posts">List</a></li>
							<li><a href="index.php?page=post">Post</a></li>
							<li><a href="index.php?page=list_comments">Comments</a></li>
							<li><a href="#">Guest Submissions</a></li>
						</ul>
					</div>
				</div>
				<!-- /Box of two -->
				
				<div class="box">
					<span class="box-title">
						<a href="#">Users</a>
					</span>
				
					<ul class="box-links">
						<li><a href="index.php?page=list_members">List</a></li>
						<li><a href="index.php?page=create_user">Create</a></li>
						<li><a href="index.php?page=delete_user">Delete</a></li>
						<li><a href="index.php?page=search_users">Search</a></li>
					</ul>
				</div>
				
			</div>
		
		</section>
	
		<section class="row">
	
			<div class="box-of-three">
		
				<!-- Box of two -->
				<div class="box-of-two">
			
					<!-- Box of one -->
					<div class="box-of-one">
						<div class="box">
							<span class="box-title">
								<a href="#">Custom Pages</a>
							</span>
						
							<ul class="box-links">
								<li><a href="index.php?page=list_custom_pages">List</a></li>
								<li><a href="index.php?page=create_custom_page">Create</a></li>
								<li><a href="#">Nav Items</a></li>
							</ul>
						</div>
					
					</div>
					<!-- /Box of one -->
				
					<div class="box">
						<span class="box-title">
							<a href="#">Webmaster</a>
						</span>
					
						<ul class="box-links">
							<li><a href="index.php?page=backup_db">Backup DB</a></li>
							<li><a href="#">Status & Stats</a></li>
							<li><a href="#">Polls & Surveys</a></li>
						</ul>
					</div>
				</div>
				<!-- /Box of two -->
			
				<div class="box">
					<span class="box-title">
						<a href="#">Admin</a>
					</span>
				
					<ul class="box-links">
						<li><a href="index.php?page=edit_member_rights">Edit Permissions</a></li>
						<li><a href="#">Edit Groups</a></li>
						<li><a href="index.php?page=view_log">View Log</a></li>
					</ul>
				</div>
			</div>
		
		</section>

