
	<section id="cotainer">
		<section class="row">
	
			<div class="box-of-three">
		
				<!-- Box of two -->
				<div class="box-of-two">
			
					<!-- Box of one -->
					<div class="box-of-one">
						<div class="box">
							<span class="box-title">
								<a href="#">Users</a>
							</span>
						
							<ul class="box-links">
								<li><a href="#">List</a></li>
								<li><a href="#">Create</a></li>
								<li><a href="#">Delete</a></li>
								<li><a href="#">Search</a></li>
							</ul>
						</div>
					
					</div>
					<!-- /Box of one -->
				
					<div class="box">
						<span class="box-title">
							<a href="#">Blog</a>
						</span>
					
						<ul class="box-links">
							<li><a href="#">List</a></li>
							<li><a href="#">Post</a></li>
							<li><a href="#">Comments</a></li>
							<li><a href="#">Guest Submissions</a></li>
						</ul>
					</div>
				</div>
				<!-- /Box of two -->
			
				<div class="box">
					<span class="box-title">
						<a href="#">Events</a>
					</span>
				
					<ul class="box-links">
						<li><a href="#">List</a></li>
						<li><a href="#">Create</a></li>
						<li><a href="#">Manage Volunteers</a></li>
					</ul>
				</div>
			</div>
		
		</section>
	
		<section class="row">
	
			<div class="box-of-three">
		
				<!-- Box of two -->
				<div class="box-of-two">
			
					<!-- Box of one -->
					<div class="box-of-one">
						<div class="box">
							<span class="box-title">
								<a href="#">Custom Pages</a>
							</span>
						
							<ul class="box-links">
								<li><a href="#">List</a></li>
								<li><a href="#">Create</a></li>
								<li><a href="#">Edit</a></li>
								<li><a href="#">Nav Items</a></li>
							</ul>
						</div>
					
					</div>
					<!-- /Box of one -->
				
					<div class="box">
						<span class="box-title">
							<a href="#">Webmaster</a>
						</span>
					
						<ul class="box-links">
							<li><a href="#">Backup DB</a></li>
							<li><a href="#">Status & Stats</a></li>
							<li><a href="#">Polls & Surveys</a></li>
						</ul>
					</div>
				</div>
				<!-- /Box of two -->
			
				<div class="box">
					<span class="box-title">
						<a href="#">Admin</a>
					</span>
				
					<ul class="box-links">
						<li><a href="#">Edit Permissions</a></li>
						<li><a href="#">Edit Groups</a></li>
						<li><a href="#">View Log</a></li>
					</ul>
				</div>
			</div>
		
		</section>

