
  <section id="cotainer">
    <section class="row">
  
      <div class="box-of-three">
    
        <!-- Box of two -->
        <div class="box-of-two">
      
          <!-- Box of one -->
          <div class="box-of-one">

          <div class="box">
            <span class="box-title">
              <a href="index.php?page=view_all_options#events">Events</a>
            </span>
        
            <ul class="box-links">
              <li><a href="index.php?page=create_event">Create Event</a></li>
              <li><a href="index.php?page=view_events">View Events</a></li>
              <li><a href="index.php?page=create_volunteer_event">Create Volunteer Event</a></li>
              <li><a href="index.php?page=view_volunteer_events">View Volunteer Events</a></li>
            </ul>
          </div>

          </div>
          <!-- /Box of one -->
        
          <div class="box">
            <span class="box-title">
              <a href="index.php?page=view_all_options#blog">Blog</a>
            </span>
          
            <ul class="box-links">
              <li><a href="index.php?page=list_blog_posts">List</a></li>
              <li><a href="index.php?page=post">Post</a></li>
              <li><a href="index.php?page=list_comments">Comments</a></li>
              <li><a href="index.php?page=list_guest_submissions">Guest Submissions</a></li>
            </ul>
          </div>
        </div>
        <!-- /Box of two -->
        
        <div class="box">
          <span class="box-title">
            <a href="index.php?page=view_all_options#members">Members</a>
          </span>
        
          <ul class="box-links">
            <li><a href="index.php?page=member_database">Member Database</a></li>
            <li><a href="index.php?page=create_report">Create Report</a></li>
            <li><a href="index.php?page=manage_alumni_members">Manage Alumni Members</a></li>
            <li><a href="index.php?page=find_active_members" style="text-decoration:line-through;">Find Active Members</a></li>
            <li><a href="index.php?page=newsletter">Newsletter</a></li>
          </ul>
        </div>
        
      </div>
    
    </section>
  
    <section class="row">
  
      <div class="box-of-three">
    
        <!-- Box of two -->
        <div class="box-of-two">
      
          <!-- Box of one -->
          <div class="box-of-one">
            <div class="box">
              <span class="box-title">
                <a href="index.php?page=view_all_options#custompages">Custom Pages</a>
              </span>
            
              <ul class="box-links">
                <li><a href="index.php?page=list_custom_pages">List</a></li>
                <li><a href="index.php?page=create_custom_page">Create</a></li>
                <li><a href="#" style="text-decoration:line-through;">Nav Items</a></li>
              </ul>
            </div>
          
          </div>
          <!-- /Box of one -->
        
          <div class="box">
            <span class="box-title">
              <a href="index.php?page=view_all_options#webmaster">Webmaster</a>
            </span>
          
            <ul class="box-links">
              <li><a href="index.php?page=create_user">Create</a>, <a href="index.php?page=list_members">List</a> (users)</li>
              <li><a href="index.php?page=delete_user">Delete</a>, <a href="index.php?page=search_users">Search</a> (users)</li>
              <li><a href="index.php?page=copy_user_to_member_db">Copy User To Member</a></li>
              <li><a href="#" style="text-decoration:line-through;">Status & Stats</a></li>
              <li><a href="#" style="text-decoration:line-through;">Polls & Surveys</a></li>
            </ul>
          </div>
        </div>
        <!-- /Box of two -->
      
        <div class="box">
          <span class="box-title">
            <a href="index.php?page=view_all_options#admin">Admin</a>
          </span>
        
          <ul class="box-links">
            <li><a href="index.php?page=edit_member_rights">Edit Permissions</a></li>
            <li><a href="index.php?page=apply_groups">Apply Groups</a></li>
            <li><a href="index.php?page=view_log">View Log</a></li>
            <li><a href="index.php?page=backup_db">Backup DB</a></li>
          </ul>
        </div>
      </div>
    
    </section>

