
  <div id="wrapper">
    <?php echo PAGE_EDIT_USER_HEADER; ?>

    <p><?php echo PAGE_EDIT_USER_DESC; ?></p>

    <!-- The form with the user's details -->
    <form action="index.php" method="POST" />
      <input type="hidden" name="type_of_user_change" value="edit_user" />
      <input type="hidden" name="id" value="<?php echo $user_info['id']; ?>" />

      <label>
        <?php echo LIST_MEMBERS_First; ?>: <input type="text" name="first_name" value="<?php echo $user_info['first_name']; ?>" /><br />
      </label>

      <label>
        <?php echo LIST_MEMBERS_Last; ?>: <input type="text" name="last_name" value="<?php echo $user_info['last_name']; ?>" /><br />
      </label>

      <label>
        <?php echo LIST_MEMBERS_Year; ?>:
          <select name="year">
            <?php
            foreach ($years as $year) {
              echo "<option value='{$year['id']}' id='year{$year['id']}'>{$year['desc']}</option>";
            }
            ?>
          </select><br />

          <script>
            document.getElementById("year<?php echo $user_info['numeric']['year']; ?>").selected = 'selected';
          </script>
      </label>

      <label>
        <?php echo LIST_MEMBERS_Major; ?>:
          <select name="major">
            <?php
            foreach ($majors as $major) {
              echo "<option value='{$major['id']}' id='major{$major['id']}'>{$major['desc']}</option>";
            }
            ?>
          </select><br />

          <script>
            document.getElementById("major<?php echo $user_info['numeric']['major']; ?>").selected = 'selected';
          </script>
      </label>

      <label>
        <?php echo LIST_MEMBERS_Dorm; ?>:
          <select name="dorm">
            <?php
            foreach ($dorms as $dorm) {
              echo "<option value='{$dorm['id']}' id='dorm{$dorm['id']}'>{$dorm['desc']}</option>";
            }
            ?>
          </select><br />

          <script>
            document.getElementById("dorm<?php echo $user_info['numeric']['dorm']; ?>").selected = 'selected';
          </script>
      </label>

      <label>
        <?php echo LIST_MEMBERS_Recruit_Place; ?>:
                                        <input type=text" name="recruit_place" value="<?php echo $user_info['recruit_place']; ?>" /><br />
      </label>

      <label>
        <?php echo LIST_MEMBERS_Texting; ?>:
          <select name="texting">
            <option value="0" id='texting0'>No</option>
            <option value="1" id='texting1'>Yes</option>
          </select><br />

          <script>
            document.getElementById("texting<?php echo $user_info['numeric']['texting']; ?>").selected = 'selected';
          </script>
      </label>

      <label>
        <?php echo LIST_MEMBERS_Positions; ?>:

          <fieldset>
          <?php
            //echo $user_info['position'];
            //print_r($positions);
            $look = explode(', ' , User_Encode::encode_positions($user_info['positions']));

            foreach ($positions as $position) {

              echo "<label>" . $position['desc'] . " <input type='checkbox' name='positions[]' id='position{$position['id']}' value='{$position['id']}'";

              foreach ($look as $l) {
                if ($position['id'] == $l) {
                  //echo 'Match: ' . $position['desc'] . ' ' . $l . '<br />';
                  echo " checked='checked' ";
                }
              }

              echo "/> | </label>";
            }
          ?>
          </fieldset>

        <br />
      </label>

      <label>
        <?php echo LIST_MEMBERS_Tags; ?>:

          <fieldset>
          <?php
            //echo $user_info['tags'];
            //print_r($tags);
            $look = explode(', ' , User_Encode::encode_tags($user_info['tags']));

            foreach ($tags as $tag) {

              echo "<label>" . $tag['desc'] . " <input type='checkbox' name='tags[]' id='tag{$tag['id']}' value='{$tag['id']}'";

              foreach ($look as $l) {
                if ($tag['id'] == $l) {
                  //echo 'Match: ' . $tag['desc'] . ' ' . $l . '<br />';
                  echo " checked='checked' ";
                }
              }

              echo "/> | </label>";
            }
          ?>
          </fieldset>

        <br />
      </label>

      <label>
        <?php echo LIST_MEMBERS_Hometown; ?>: <input type="text" name="hometown" value="<?php echo $user_info['hometown']; ?>" /><br />
      </label>

      <label>
        <?php echo LIST_MEMBERS_Phone; ?>: <input type="text" name="phone" value="<?php echo $user_info['phone']; ?>" /><br />
      </label>

      <label>
        <?php echo LIST_MEMBERS_Email; ?>: <input type="text" name="email" value="<?php echo $user_info['email']; ?>" /><br />
      </label>

      <label>
        <textarea rows="12" cols="60" name="notes"><?php echo $user_info['notes']; ?></textarea><br />
      </label>

      <input type="submit" value="<?php echo ADMIN_DASHBOARD_SUBMIT; ?>" />
    </form>
  </div>
