
  <div id="wrapper">
    
    <?php echo ADMIN_DASHBOARD_EDIT_CUSTOM_PAGES; ?>
    
    <br /><br />
    
    <form action="index.php" method="post">
      <input type="hidden" name="edit_custom_page" value="yes" />
      
      <label>
      <?php //echo ADMIN_DASHBOARD_EDIT_CUSTOM_PAGE_ID; ?>
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
      </label>
      
      <label>
      <?php echo ADMIN_DASHBOARD_EDIT_CUSTOM_PAGE_URL_STUB; ?>
        <input type="text" name="url_stub" value="<?php echo $data['url_stub']; ?>" /><br />
      </label>
      
      <label>
      <?php echo ADMIN_DASHBOARD_EDIT_CUSTOM_PAGE_PAGE_TITLE; ?>
        <input type="text" name="page_title" value="<?php echo $data['page_title']; ?>" /><br />
      </label>
      
      <label>
      <?php echo ADMIN_DASHBOARD_EDIT_CUSTOM_PAGE_CONTENT; ?><br />
                        <textarea cols="40" id="content" name="content" rows="10"><?php echo $data['content']; ?></textarea>
                        <script>
                        CKEDITOR.replace('content', {extraPlugins : 'docprops', width: '800px'});
                        </script>

      </label>
      
      <br />
      
      <input type="submit" value="<?php echo ADMIN_DASHBOARD_SUBMIT; ?>" />
    </form>
    
  </div>
  
