
  <div id="wrapper">
  
    <h3><?php echo ADMIN_DASHBOARD_MERGE_MEMBERS; ?></h3>
    
    <form action="index.php" method="POST">
      <input type="hidden" name="merge_members_setup" value="yes" />
    
      <?php echo ADMIN_DASHBOARD_MERGE_MEMBERS_ONE; ?>
        <input type="text" name="first_id" /><br />
        
      <?php echo ADMIN_DASHBOARD_MERGE_MEMBERS_TWO; ?>
        <input type="text" name="second_id" /><br />
        
      <input type="submit" value="<?php echo ADMIN_DASHBOARD_SUBMIT; ?>" />
    </form>
  
  </div>
  
