
	<div id="wrapper">
		<?php echo PAGE_POST_TO_BLOG; ?>
		
		<form action="index.php" method="POST">
		
			<input type="hidden" name="admin_post_to_blog" value="post-new" />
			
			<?php echo PAGE_POST_TO_BLOG_ALLOWED_TAGS . htmlentities($config['allowable_blog_tags']); ?><br /><br />		
					
			<?php echo PAGE_POST_TO_BLOG_TITLE_FIELD; ?> <input type="text" name="title" size="80" autofocus /><br />
			<textarea cols="80" id="text" name="text" rows="10"></textarea>
			<script>
			CKEDITOR.replace('text', {extraPlugins : 'docprops'});
			</script>
			
			<input type="submit" value="<?php echo ADMIN_DASHBOARD_SUBMIT; ?>" />
		</form>
	</div>

