
	<div id="wrapper">
	
		<h4>View all options</h4>
		
		<a name="pages"></a>
		<label>Pages</label>
		<ul>
			<li><a href="../index.php?page=alumni_signup">Alumni Signup</a></li>
			<li><a href="../index.php?page=legal">Legal Policy</a></li>
			<li><a href="../index.php?page=subscribe_to_newsletter">Subscribe to the Newsletter</a></li>
			<li><a href="../index.php?page=guest_submission">Guest Submission</a></li>
		</ul>
		
		<a name="members"></a>
		<label>Members</label>
		<ul>
			<li><a href="index.php?page=member_database">Member Database</a></li>
			<li><a href="index.php?page=manage_alumni_members">Manage Alumni Members</a></li>
			<li><a href="index.php?page=merge_members">Merge Members</a></li>
			<li><a href="index.php?page=create_report">Create Report</a></li>
			<li><a href="index.php?page=new_recruit_place">Create a Recruit Place</a></li>
			<li><a href="index.php?page=find_active_members" style="text-decoration:line-through;">Find Active Members</a></li>
			<li><a href="#" style="text-decoration:line-through;">Advance to Next Year</a></li>
			<li><a href="index.php?page=newsletter" style="text-decoration:line-through;">Newsletter</a></li>
			<li><a href="index.php?page=subscribe_email_to_newsletter">Subscribe Email</a></li>
			<li><a href="index.php?page=unsubscribe_email_from_newsletter">Unsubscribe Email</a></li>
			<li><a href="index.php?page=view_all_newsletter_emails">View all Newsletter Emails</a></li>
		</ul>
		
		<a name="blog"></a>
		<label>Blog</label>
		<ul>
			<li><a href="index.php?page=list_blog_posts">List</a></li>
			<li><a href="index.php?page=post">Post</a></li>
			<li><a href="index.php?page=list_comments">Comments</a></li>
			<li><a href="index.php?page=list_guest_submissions">Guest Submissions</a></li>
		</ul>
		
		<a name="events"></a>
		<label>Events</label>
		<ul>
			<li><a href="index.php?page=create_event">Create Event</a></li>
			<li><a href="index.php?page=view_events">View Events</a></li>
			<li><a href="index.php?page=create_volunteer_event">Create Volunteer Event</a></li>
			<li><a href="index.php?page=view_volunteer_events">View Volunteer Events</a></li>
		</ul>
		
		<a name="admin"></a>
		<label>Admin</label>
		<ul>
			<li><a href="index.php?page=edit_member_rights">Edit Permissions</a></li>
			<li><a href="#" style="text-decoration:line-through;">Edit Groups</a></li>
			<li><a href="index.php?page=view_log">View Log</a></li>
			<li><a href="index.php?page=backup_db" style="text-decoration:line-through;">Backup DB</a></li>
		</ul>
		
		<a name="webmaster"></a>
		<label>Webmaster</label>
		<ul>
			<li><a href="#" style="text-decoration:line-through;">Edit Website Settings</a></li>
			<li><a href="#" style="text-decoration:line-through;">Edit Header and Footer</a></li>
			<li><a href="index.php?page=create_user">Create</a>, <a href="index.php?page=list_members">List</a> (users)</li>
			<li><a href="index.php?page=delete_user">Delete</a>, <a href="index.php?page=search_users">Search</a> (users)</li>
			<li><a href="index.php?page=copy_user_to_member_db">Copy User To Member</a></li>
			<li><a href="#" style="text-decoration:line-through;">Status & Stats</a></li>
			<li><a href="#" style="text-decoration:line-through;">Polls & Surveys</a></li>
			<li><a href="#" style="text-decoration:line-through;">Edit the Blogroll</a></li>
		</ul>
		
		<a name="custompages"></a>
		<label>Custom Pages</label>
		<ul>
			<li><a href="index.php?page=list_custom_pages">List</a></li>
			<li><a href="index.php?page=create_custom_page">Create</a></li>
			<li><a href="#" style="text-decoration:line-through;">Nav Items</a></li>
		</ul>
		
		<a name="other"></a>
		<label>Other</label>
		<ul>
			<li></li>
		</ul>
	
	</div>
	
