
  <div id="wrapper">

    <select onchange="changeYear(this.value);">
      <?php
        $now = !empty($_GET['year']) ? MySQL::clean($_GET['year']) : @date('Y');
        for ($i = -3; $i < 25; $i++) {
          $year = @date('Y') + $i;
          if ($now == $year)
            $selected = " selected";
          else
            $selected = "";
          echo "<option value='{$year}'{$selected}>{$year}</option>";
        }
      ?>
    </select>

    <script>
      function changeYear(year) {
        window.location = 'index.php?page=view_all_events&year=' + year;
      }
    </script>

    <table style="width:100%;">
      <thead>
        <tr>
          <td><?php echo ADMIN_DASHBOARD_VIEW_EVENTS_TITLE; ?></td>
          <td><?php echo ADMIN_DASHBOARD_VIEW_EVENTS_START_TIME; ?></td>
          <td><?php echo ADMIN_DASHBOARD_VIEW_EVENTS_END_TIME; ?></td>
          <td><?php echo ADMIN_DASHBOARD_VIEW_EVENTS_LOCATION; ?></td>
          <td><?php echo ADMIN_DASHBOARD_VIEW_EVENTS_DESCRIPTION; ?></td>
        </tr>
      </thead>

    <?php
      foreach ($events as $event) {
        echo '<tr style="cursor:pointer;" onclick="javascript:(function(){window.location=\'index.php?page=edit_event&event=' . $event['id'] . '\';})();">';
          echo '<td>' . $event['title'] . '</td>';
          echo '<td>' . Date::parse($event['start_time']) . '</td>';
          echo '<td>' . Date::parse($event['end_time']) . '</td>';
          echo '<td>' . $event['location'] . '</td>';
          echo '<td>' . $event['description'] . '</td>';
        echo '</tr>';
      }
    ?>

    </table>

  </div>

