<!doctype html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<title><?php echo SITE_TITLE; ?></title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="<?php echo $css_file; ?>" />
</head>
<body>

	<div id="container">
	
		<div id="header">
			<h2><?php echo SITE_TITLE; ?></h2>
		</div>
		
		<div id="nav">
			<div class="right">
				<?php 
					print_admin_link($user_id, $database);
					print_profile_button($user_id);
					print_fb_button();
				?>
			</div>
		
			<ul>
				<?php
				foreach ($nav_items as $item) {
					echo "<li class='nav_item'><a href='" . $item['href'] . "'>" . Clean::output($item['name']) . "</a></li>";
				}
				?>
			</ul>
		</div>

