
		<div id="main">
			<!-- Print out the blog posts. -->
			<?php
				foreach ($posts as $post) {
					echo "<p class='post'>";
						echo "<span class='right'>" . Date::parse($post['timestamp']) . "</span>";
						echo "<h5 class='blog_title'><a href='?page=post&id=" . $post['id'] . "'>" . Clean::output($post['title']) . "</a></h5>";
						echo "<span class='author'>" . BLOG_AUTHOR_PREFIX . Clean::output($authors[$post['author']]) . '</span>';
						echo "<p class='blog_content'><pre>" . wordwrap(Clean::output($post['content']), 70) . "</pre></p>";
					echo "</p><hr />";
				}
			?>
			
			<a href="?page=older_than&older_than=<?php echo $oldest_post;?>"><?php echo BLOG_OLDER_POSTS; ?></a>
		</div>
		
