
		<div id="main">
			<!-- Blog Content -->
			
			<?php
				echo "<p class='post'>";
					echo "<span class='right'>" . Date::parse($post['timestamp']) . "</span>";
					echo "<h5 class='blog_title'><a href='?post=" . $post['id'] . "'>" . $post['title'] . "</a></h5>";
					echo "<span class='author'>" . BLOG_AUTHOR_PREFIX . $authors[$post['author']] . '</span>';
					echo "<p class='blog_content'><pre>" . wordwrap(Clean::output($post['content']), 70) . "</pre></p>";
				echo "</p><hr />";
			?>
			
			<!-- Comments -->
			
			<?php
				foreach ($comments as $comment) {
					echo "<p class='comment'>";
						echo "<span class='right'>" . Date::parse($comment['timestamp']) . "</span>";
						echo "<span class='author'>" . $authors[$comment['author']] . '</span>';
						echo "<p class='comment_content'><pre>" . wordwrap(Clean::output($comment['content']), 50) . "</pre></p>";
					echo "</p><hr />";
				}
			?>
			
			<!-- Leave a comment -->
			<div id="comment_reply">
				<h4><?php echo BLOG_COMMENT_REPLY; ?></h4>
				<form action="index.php" method="POST">
					<input type="hidden" name="page" value="comment-reply" />
					<input type="hidden" name="post_id" value="<?php echo $post['id']; ?>" />
					<textarea name="content"></textarea>
					<br /><br />
					<input type="submit" value="<?php echo BLOG_COMMENT_SUBMIT; ?>" />
				</form>
			</div>
		</div>
		
