
	<div id="main">
		
		<h3><?php echo $generic_data['first_name'] . ' ' . $generic_data['last_name'] . PROFILE_HEADER_SUFFIX; ?></h3>
		
		<?php
			echo "<ul style='list-style-type:none;'>";
				echo '<li>' . LIST_MEMBERS_Positions . ': ' . User_Parse::parse_positions($full_data['positions']) . '</li>';
				echo '<li>' . LIST_MEMBERS_Year . ': ' . User_Parse::parse_year($full_data['year']) . '</li>';
				echo '<li>' . LIST_MEMBERS_Major . ': ' . User_Parse::parse_major($full_data['major']) . '</li>';
				echo '<li>' . LIST_MEMBERS_Dorm . ': ' . User_Parse::parse_dorm($full_data['dorm']) . '</li>';
				
				echo '<br />';
				
				echo '<li>' . LIST_MEMBERS_Hometown . ': ' . $full_data['hometown'] . '</li>';
				echo '<li>' . LIST_MEMBERS_Phone . ': ' . $full_data['phone'] . '</li>';
				echo '<li>' . LIST_MEMBERS_Email . ': ' . $full_data['email'] . '</li>';
			echo '</ul>';
		?>
		
	</div>
	
